:root {
  --light: #f4f4f4;
  --cyan: #509c93;
  --light-gray: #eee;
  --medium-gray: #ddd;
  --gray: #6a6a6a;
  --dark: #444;
  --darker: #222;
}

html {
  background: var(--light);
  -webkit-text-size-adjust: none;
}

::selection {
  background: var(--medium-gray);
  opacity: 0.3;
}

*{
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  /* font-family:'Dosis', sans-serif; */
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  letter-spacing:0.25px;
  word-spacing: 1.25px;
  max-width: 655px;
  padding: 0 13px;
  margin: 40px auto;
}

.intro{
  padding: 20px 0 20px 0;
}
code {
  font-family:'Fira Code';
  font-size: 12px;
  
}
pre {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  min-width: 0;
  background-color: var(--light-gray)!important;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-block-start:0;
  margin-block-end:0.2rem;
}
h1{
  font-size:24px;
  margin-block-start:0;
  margin-block-end:0;
}
p{
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.subtitle{
  color:var(--gray);
  font-style: italic;
  font-size: 16px;
  margin-block-start: 0.2em;
  margin-block-end: 1.5rem;
}

a{
  color: #222;
  text-decoration: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  cursor: pointer;
}
.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline-block;  
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color:var(--gray);
  background-image: linear-gradient(90deg, #D4145A, #FBB03B);
  background-position:bottom;
  background-size: 100% 30%;
  background-repeat:repeat-y;
}


footer{
  padding-top: 30px;
}
.footer a{
  display:flexbox;
  justify-content: center;
  align-items: center;
}
.footer img {
  max-height: 2.5rem;
  max-width: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  image-orientation: from-image;
  padding: 0 0 5px 5px;
  cursor: pointer;
}
.post_date{
  color: var(--gray);
  justify-content: right;
  margin-block-end: 0.5rem;
  margin-block-start: 2rem;  
}

table{
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  padding: 25px 0 0 0;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

span{
  flex:auto;
  text-align: right;
  justify-content: right;
}

@media (max-width: 385px) {

  nav {
    max-width: 150px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
