{% extends 'base.html' %} {% block body %}
<!-- <h1>{{the_title}}</h1> -->

<p class="intro">
  I’m Surya, an aspiring data scientist. <br />I currently live in Bangalore,
  India. I’m generally interested in machine learning, artificial intelligence
  and generative art.
</p>
<section class="footer">
  <a href="/blog/feed.xml">
    <img alt="rss feed" src="/static/rss.svg" width="30" />
  </a>
  <a href="https://github.com/Surya-29">
    <img alt="git" src="/static/github.svg" width="35" />
  </a>
</section>

{% endblock %}
