{% extends 'base.html' %} {% block body %}
<section class=post-date>2022-08-19</section>
<h1>First blog</h1>
<h2 class="subtitle">Just figuring out stuff</h2>
<p>This is the content of the page.</p>

<p>just copy pasta ig</p>

<p>For all those struggling to get the formatting work even after trying the valid combinations in Visual Studio Code, don't forget to select the appropriate programming language type, it is at the bottom right in visual studio code window next to that smiley. Once you do that I found it works out of the box and you don't need any additional plugin to format code</p>

<div class="codehilite"><pre><span></span><code><span class="kn">import</span> <span class="nn">math</span>

<span class="nb">print</span><span class="p">(</span><span class="n">math</span><span class="o">.</span><span class="n">pi</span><span class="p">)</span>
</code></pre></div>

<p>How fast and static is this webpage?</p>

<blockquote>
  <p>Can it be rendered properly</p>
</blockquote>

<ul>
<li>Bulltein points</li>
<li>1</li>
<li>2</li>
</ul>

{% endblock %}